/* ALL PAGES */
div.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("imgs/header-background3_2.jpg");
    background-size: cover;
}

div.menu{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    border-top: thin solid;
    border-bottom: thin solid;
    background-image: url("imgs/header_background2.jpg");
    background-repeat: no-repeat;
    background-size:initial;
}

.logo{
    max-height: 100px;
    display: block;

}

a, a:visited{
    text-decoration: none;
    color: #000000;
}

.menu-button{
    font-family: "Open Sans", serif;
    font-weight: bolder;
}

.menu-button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

body{
    margin: 0 ;
    background-color: #E5FAFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#whole-page-div{
    position: relative;
    /* display: flex; */
    /* flex-direction: column;
    justify-content:center; */
    min-height: 100vh;
    height: 100vh;
    flex: 1;
}

footer{
    text-align: center;
    background-color: #E5FAFF;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: block;
    font-family: "EB Garamond", serif;
    font-size: 13pt;
}

/* Home Page */

#home-body{
    background-image: url("imgs/home_img.jpg");
    background-size: cover;
    display:flex;
    min-height: 600px;
}

#body-left{
    display:flex;
    flex-direction: column;
    justify-content:center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.581);
}
#body-right{
    display:flex;
    flex-direction: column;
    justify-content:center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.581);
    /* height: 100%; */
}

#body-right p{
    color: #ffffff;
    text-align: center;
}




/* SERVICES PAGE */
#services-body{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:baseline;
    height: 100%;
    /* width: 100%; */
}

.service-divs{
    display: flex;
    justify-content:center;
}

#service-div-1{
    
    background-color: rgba(0, 0, 0, 0.069);
    min-height: 100px;
    height: 120px;
    max-height: 150px;
    width: 100%;
}

#service-div-2{
    background-color: rgba(245, 245, 220, 0.383);
    min-height: 100px;
    height: 120px;
    max-height: 150px;
    width: 100%;
}

#service-div-3{
    background-color: rgba(0, 0, 0, 0.069);
    min-height: 100px;
    height: 120px;
    max-height: 150px;
    width: 100%;
}

#service-div-4{
    background-color: rgba(245, 245, 220, 0.383);
    min-height: 100px;
    height: 120px;
    max-height: 150px;
    width: 100%;
}

.services-imgs{
    max-height: 120px;
    position: absolute;
    left: 0;
}

.services-text{
   font-size: 12pt;
   text-align: center;
   font-family: "EB Garamond", serif; 
}
.services-text p{
    font-family: "Open Sans";
}

